@darkGrey: #111;

body {
  background-color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  margin: 0;
  line-height: normal;
  color: @darkGrey;
}

section {
  border-bottom: 1px solid #000;
  position: relative;
  height: 100vh;
  padding: 0 74px;
  display: flex;
  align-items: center;
}

section > h2 {
  position: relative;
  font-size: 76px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0;
}

section#bar-effect {
  .text {
    visibility: hidden;
  }

  .bar {
    transition: all 300ms ease;
    background-color: @darkGrey;
    position: absolute;
    height: 100%;
    width: 0px;
    z-index: 5;
    top: 0;
    right: 0;
  }
}

section#sliding-letters {
  h2 {
    position: relative;
    overflow: hidden;
    font-size: 84px;
  }

  .letter {
    transition: top 300ms ease;
    position: relative;
    top: 100%;
  }
}

section#text-trail {
  background-color: @darkGrey;
  overflow: hidden;

  h2 {
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-size: 100px;
    font-weight: bold;
    position: relative;
    display: block;
    margin: 0 auto;

    span {
      background-color: @darkGrey;
      line-height: 90px;
      padding-bottom: 9px;
      position: absolute;
      visibility: hidden;
      pointer-events: none;
      top: 0;
      left: 0;
    }

    span.outline {
      -webkit-text-stroke: 1px #FFF;
      color: transparent;
    }
    span.filled {
      color: #FFF;
    }

    span.main {
      position: relative;
      display: block;
      pointer-events: initial;
      z-index: 10;
    }
  }
}

section#word-selection {
  .word {
    background-color: transparent;
    padding: 0 10px;
    display: inline-block;
    visibility: hidden;
  }

  .word.selected {
    background-color: @darkGrey;
    color: #FFF;
  }
}

section#typin-effect {
  .cursor {
    border-left: 2px solid @darkGrey;
    display: inline-block;
    position: relative;
    height: 76px;
    top: 10px;
    visibility: visible;
  }

  .cursor.blink {
    -webkit-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
  }
}


@-webkit-keyframes blink {
  from, to { visibility: hidden; }
  50% { visibility: visible; }
}
@keyframes blink {
  from, to { visibility: hidden; }
  50% { visibility: visible; }
}
